* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

#ball {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: rgb(127,255,212);

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

